.prod-cart {
    border: 1px solid darkgray;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    display: flex;
    background-color: #fff;
    align-items: center;
}

.prod-cart img{
    height: 90px;
    flex: auto;
}

.prod-cart .description{
    flex: 4;
}

.prod-cart label{
    flex: 2;
}

.prod-cart .btn{
    flex: 1;
}