.quantityPicker button, .quantityPicker label{
    display: inline-block;
    margin: 3px;
}



.btnDecrease, .quantityLabel, .btnIncrease{
    padding: 5px;
}

.quantityLabel{
    font-weight: 500;
    color: brown;
}